* {
  box-sizing: border-box;
}

html {
  font-size: 17px;
  color: gray;
  --user-photo-size: 100px;
}

body {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(198, 240, 241);
  font-family: Arial, Helvetica, sans-serif;
}
.userCard {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 300px;
  min-width: 260px;
  flex-grow: 1;
  max-width: 400px;
}

.editBtn {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 20px;
}

.editBtn:hover {
  cursor: pointer;
}

.userImg {
  width: var(--user-photo-size);
  height: var(--user-photo-size);
  border-radius: 50%;
  object-fit: cover;
  margin-top: -20px;
  border: 1px solid rgb(136, 194, 0);
}

.userName {
  font-size: 1.5rem;
  color: rgb(53, 52, 52);
  margin: 10px;
}
.userJob {
  font-size: 1rem;
  margin: 0.4em;
  margin: 0;
}
.userDescription {
  text-align: center;
  padding-top: 10px;
  margin: 10px;
  line-height: 1.2;
}

.statistics {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: rgb(53, 52, 52);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  gap: 30px;
}

.userStatistic {
  display: flex;
  width: 80px;
  text-align: center;
  line-height: 1.5;
}

.cardFooter {
  margin-top: auto;
}

.sosialLinks {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
  color: white;
  font-size: 0.8rem;
}

.sosialLinkItem1 {
  background-color: rgb(11, 65, 243);
  border-radius: 50%;
  padding: 6px;
}

.sosialLinkItem2 {
  background-color: rgb(31, 31, 189);
  border-radius: 50%;
  padding: 6px;
}

.sosialLinkItem3 {
  background-color: rgb(240, 163, 22);
  border-radius: 50%;
  padding: 6px;
}

.sosialLinkItem4 {
  background-color: dodgerblue;
  border-radius: 50%;
  padding: 6px;
}

.checkmark {
  display: flex;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 1rem;
  background-color: rgb(13, 199, 13);
  border: 1px solid rgb(136, 245, 103);
  border-radius: 50%;
  flex-direction: column;
  align-self: flex-end;
  margin-left: -30px;
  z-index: 1;
}

.photoConteiner {
  display: flex;
}

.profileBtn {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: gray;
  text-align: center;
  width: 250px;
  padding: 10px;
  border-radius: 30px;
  background-color: initial;
  border: 1px solid gray;
}

.profileBtn:hover {
  cursor: pointer;
}
